@import url('https://fonts.cdnfonts.com/css/termina');
@import url('https://fonts.cdnfonts.com/css/null-pointer');
@import url('https://fonts.cdnfonts.com/css/jetbrains-mono');

* {
    margin: 0px; 
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

    box-sizing: border-box;
}

html {
    overscroll-behavior: none;
}

body {
    color: #fff;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
    transform-style: preserve-3d;
    overscroll-behavior: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

#main {
    width: 100%;
    height: 105vh;
    background-image: url(images/background-image-black-and-white.png);
    background-size: cover;
    background-position: center;

}

.container {
    padding: 30px 10%;
    padding-left: 30px;
    padding-right: 30px;
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.credit {
    display: inline-block;
    list-style: none;
    margin: 0px 15px;

    @media (max-width: 480px) {
        margin: 0px 5px;
    }
}

.credit a {
    color: #fff;
    text-decoration: none;
    font-size: 1vw;

    @media (max-width: 1200px) {
        font-size: 1.5vw;
    }

    @media (max-width: 630px) {
        font-size: 2.5vw;
    }
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1vw;
    font-family: 'JetBrains Mono', sans-serif;

    @media (max-width: 1200px) {
        font-size: 1.5vw;
    }

    @media (max-width: 630px) {
        font-size: 2.5vw;
    }
}

#main-elements {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100vh;
}

#description {
    position: absolute;
    top: 1%;
    right: 10%;

    @media (max-width: 1200px) {
        left: 60%;
        right: 0%;
    }

    @media (max-width: 630px) {
        top: 53%;
        left: 5%;
    }
        
    @media (max-width: 480px) {
        top: 50%;
        left: 2%;
        right: 0%;
    }
}

#arrow-right-down-line {
    font-size: 2.2vw;
    margin-bottom: 4.5vw;
    margin-left: 9.1vw;

    @media (max-width: 1200px) {
        font-size: 2.5vw;
    }

    @media (max-width: 630px) {
        font-size: 3vw;
    }

    @media (max-width: 480px) {
        font-size: 5vw;
    }
}

#description_line_1, #description_line_2, #description_line_3 {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 1vw;
    margin-left: 9.6vw;
    margin-bottom: 0.7vw;
    font-weight: normal;


    @media (max-width: 1200px) {
        font-size: 1.5vw;
    }

    @media (max-width: 630px) {
        font-size: 2.5vw;
    }

    @media (max-width: 480px) {
        font-size: 5vw;
    }
}

#github-logo {
    display: inline-block;
    font-size: 2.5vw;
    margin-bottom: 4vw;
    margin-left: 9.3vw;
    color: white;

    @media (max-width: 630px) {
        font-size: 4vw;
    }

    @media (max-width: 480px) {
        font-size: 6vw;
    }
}

#linkedin-logo, #facebook-logo, #twitter-logo, #youtube-logo, #gmail-logo {
    display: inline-block;
    font-size: 2.5vw;
    margin-bottom: 4vw;
    color: white;

    @media (max-width: 630px) {
        font-size: 4vw;
    }
        
    @media (max-width: 480px) {
        font-size: 6vw;
    }
}

#gabriel-mislang {
    top: 45%;
    width: 100%;
    position: relative;
    white-space: nowrap;
    left: 1.5%;
    overflow: hidden;


    @media (max-width: 630px) {
        top: 30%;
    }
}

#gabriel-mislang h1 {
    display: inline-block;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
    font-size: 12.5vw;
    font-weight: 400;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-family: 'Null Pointer;', sans-serif;
    mix-blend-mode: difference;


    @media (max-width: 630px) {
        font-size: 30vw;
    }


}

#gabriel-mislang h1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black; /* Adjust background as needed */
    mix-blend-mode: difference;
    z-index: 2; /* Ensure pseudo-element is below the text */
}

#one{
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: #FFFEFE;
}

#helpingbrand{
    padding: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #080808;
}

#helpingbrand h1{
    font-weight: 400;
    font-size: 2.5vw;
}

#helpingbrand p{
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 1.8vw;
    letter-spacing: 0.08vw;
}