* {
    margin: 0px; 
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

    box-sizing: border-box;
}

body {
    background-color: #080808;
    color: #fff;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
    transform-style: preserve-3d;
}

#main {
    width: 100%;
    height: 105vh;
    background-image: url(images/background-image.png);
    background-size: cover;
    background-position: center;

    @media (max-width: 1000px) {
        height: 70vh;
    }
}

.container {
    padding: 30px 10%;
    padding-left: 30px;
    padding-right: 30px;
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.credit {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    font-size: 18px;
}

.credit a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 18px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#main-elements {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100vh;
}

#description {
    position: absolute;
    top: 15%;
    right: 10%;
}

iconify-icon {
    display: inline-block;
    font-size: 2.5vw;
    margin-bottom: 4.5vw;
    margin-left: 9vw;
}

#software-engineer, #student-wants {
    font-size: 1.8vw;
    font-weight: bold;
    margin-left: 9.6vw;
    font-style: italic;
}

#gabriel-mislang {
    top: 50%;
    width: 100%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

#gabriel-mislang h1 {
    display: inline-block;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
    font-size: 12.5vw;
    font-weight: 400;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#one{
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: #FFFEFE;
}

#helpingbrand{
    padding: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #080808;
}

#helpingbrand h1{
    font-weight: 400;
    font-size: 2.5vw;
}

#helpingbrand p{
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 1.8vw;
    letter-spacing: 0.08vw;
}